.listing{
  list-style: none;
    display: inline;
}
.post-content{
  position: relative;
}
.post-list{
      border-style: solid;
      padding: 20px;
      margin-bottom: 10px;
      border-radius: 45px;
}
.post-created{
color: #b97b67
}
.form-tr{
margin: 50px;
}
.create-post{
margin-left: 79px;
padding-bottom: 10px;
margin-top: 32px;
}

  .link-text:hover{
    text-decoration: none;
}
